/* @import "bootstrap-grid.min.css"; */
/* @import "bootstrap-reboot.min.css"; */
@import "bootstrap.min.css";

/* RUBY
 $t-red: #D81159;
 EERIE BLACK
 $t-dark: #2B2D42;
 LAVENDER MIST
 $t-gray: #7E8D85;
  #8D99AE;
 STEEL TEAL
 $t-white: #EDF2F4;
 DEEP KOAMARU
 $t-blue: #383961; */

a {
  color: #2B2D42;
}

a:hover {
  text-decoration: none;
  color: #535780;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

#header {
  background-color: #cfd5d2;
}

#header .logo {
  line-height: 60px;
  font-size: 2rem;
  font-weight: 700;
}

#header #cart {
  position: absolute;
  bottom: 0;
  left: 15px;
}

#header .tel-and-mail p {
  margin-bottom: 0;
  text-align: right;
}

#header .tel-and-mail a {
  line-height: 30px;
}

#header .tel-and-mail .tel {
  font-size: 1.1rem;
  font-weight: 700;
}

.breadcrumb {
  padding: 0.5rem 0rem;
  background-color: #ffffff;
}

.content {
  margin-top: 68px;
}

.section-heading {
  background-color: #bebfda;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.section-heading h4 {
  margin-top: 0.5rem;
  text-transform: uppercase;
}

#filter {
  background-color: #bebfda;
  margin-bottom: 1rem;
  padding-bottom: 0.3rem;
}

#filter .form-check label {
  font-size: 0.8rem;
}

.prod-item {
  position: relative;
  margin-bottom: 3rem;
}

.prod-item-name {
  height: 48px;
}

.prod-item .prod-item-img-cont {
  margin-bottom: 0.5rem;
}

.prod-item .prod-item-img-cont img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.prod-item .prod-item-price span {
  vertical-align: top;
  line-height: 1.2rem;
}

.prod-item .prod-item-price-value {
  color: #D90429;
  font-weight: 700;
  font-size: 1.2rem;
}

.prod-item .prod-item-buy-btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.7rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #2B2D42;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  float: right;
}

.prod-item .prod-item-buy-btn:hover {
  text-decoration: none;
}

.prod-item .prod-item-tags {
  margin-top: 0.5rem;
}

.prod-item .prod-item-tags span {
  display: inline-block;
  padding: 0.25rem 0.4rem 0.25rem 0;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.prod-item .nav-tabs .nav-item {
  z-index: 2;
}

.prod-item .prod-item-tab-params-heading {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

@keyframes FadeIn {
  from {
    background-color: #bebfda;
    opacity: 1;
    display: block;
  }

  to {
    background-color: transparent;
    opacity: 0;
    display: none;
  }
}
.prod-item-bg-cont {
  position: absolute;
  width: 100%;
  height: 100%;
}
.temp-background .prod-item-bg-cont {
  background-color: white;
  animation: FadeIn 0.75s ease-in-out forwards;
}

.work-type img {
  max-width: 100%;
}

.work-type .table th,
.work-type .table td {
  padding: 0.75rem 0.75rem 0.75rem 0rem;
}

.work-type .table caption {
  caption-side: top;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
  color: #2B2D42;
}

#contacts-map>ymaps {}

#footer {
  background-color: #7E8D85;
}

#footer a {
  color: #EDF2F4;
}


.red-border {
  border: 1px solid red;
}